header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 40px #adadad40, -5px -5px 60px #fff;
}

.search-logo {
  display: flex;
  align-items: center;
}

.logo {
  width: auto;
  margin-right: 30px;
}

.search {
  position: relative;
  width: 100%;
  margin: 20px 0;
}

.search input {
  border: 1px solid;
  width: 100%;
  height: 40px;
  border-radius: 50px;
  background: #efefef;
  border: 0;
  padding-left: 20px;
  padding-right: 60px;
  font-size: 16px;
  outline: none;
}

.search img {
  position: absolute;
  right: 20px;
  top: 13px;
  align-items: center;
}

.filter {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #efefef;
  margin: 0px 10px;
}

.cart {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin: 10px;
}

.login a {
  width: 100px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #db3022;
  border-radius: 50px;
  color: white;
  text-decoration: none;
}

.login,
.signup {
  margin: 10px 10px;
}

.login a:hover {
  background-color: #cd2617;
  text-decoration: none;
  color: white;
}

.signup a {
  width: 100px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
  border-radius: 50px;
  color: #db3022;
  text-decoration: none;
}

.signup a:hover {
  background-color: #e8e0e0;
  text-decoration: none;
  color: #db3022;
}
